google-api-python-client
google-auth-httplib2
google-auth-oauthlib
requests~=2.27.1
schedule~=1.1.0
pyyaml~=6.0
googledrivedownloader
find
Flask~=2.0.2
asyncio~=3.4.3
Jsonify~=0.5
Flask_SocketIO
Flask-Login
Flask-Session
itsdangerous
Jinja2
MarkupSafe~=2.0.1
python-engineio
python-socketio
six
Werkzeug
python-escpos
Pillow