{% extends "layout.html" %}
{% block title %}Print Queue{% endblock %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='tabulator.min.css') }}">
    <script src="{{ url_for('static', filename='tabulator.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="queue_table"></div>

    <script>
    var secondsFormatter = function(value, data, type, params, component){
    //value - original value of the cell
    //data - the data for the row
    //type - the type of mutation occurring  (data|edit)
    //params - the mutatorParams object from the column definition
    //component - when the "type" argument is "edit", this contains the cell component for the edited cell, otherwise it is the column component for the column
    return new Date(value * 1000).toISOString().substr(11, 8);
    }

    var table = new Tabulator("#queue_table", {
        ajaxURL:"/printQueue/getQueue",
        layout:"fitData",
        columns:[
            {title:"PR", field:"job_name"},
            {title:"Printer Model", field:"printer_model"},
            {title:"Auto Start", field:"auto_start", formatter:'tickCross', hozAlign:"center"},
            {title:"Print Time", field:"print_time", mutator:secondsFormatter},
            {title:"Created", field:"job_submitted_date"},
        ],
    });
    </script>
{% endblock %}