{% extends "layout.html" %}
{% block title %}Create Printer Model{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

    <div class="form-container">
        <form>
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" value="">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" type="text" id="description">
            </div>
            <div class="mb-3">
                <label class="form-label" for="keyword">Keyword</label>
                <select name="keyword" id="keyword">
                {% for keyword in all_keywords %}
                    <option value="{{ keyword.id }}">{{ keyword.name }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-check-label" for="auto_start_prints">Autostart Prints?</label>
                <input class="form-check-input" type="checkbox" id="auto_start_prints">
            </div>
            <button type="button" onclick="create()">Submit</button>
        </form>
    </div>
    <script>
        const create = function() {
            let formData = {}
            formData.name = $("#name").val()
            formData.description = $("#description").val()
            formData.auto_start_prints = $("#auto_start_prints").prop('checked')
            formData.keyword = $("#keyword").val()

            if (!formData.name){
                alert("Name is required!")
                return
            }
            if (!formData.keyword){
                alert("Keyword is required!")
                return
            }

            $.post("/printerModels/createPrinterModel", formData, (data) => {
                if (data.status == "success") {
                    window.location.href = "/printerModels"
                } else if (data.status == "failed") {
                    alert("Creating printer model failed!")
                }
            });
        }

    </script>
{% endblock %}