iframe{
	width:100%;
	height:800px;
}
.setting-panel{
	display:none;
}

#preview{
	width:100%;
}

.form-container {
	max-width: 750px;
	padding-top: 20px;
	margin: auto;
}

.custom-tabulator-table {
	margin: auto;
	width: fit-content;
}