{% extends "layout.html" %}
{% block title %}Printers{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>IP</th>
                <th>API Key</th>
                <th>Stream IP</th>
                <th>Material Type</th>
                <th>Material Color</th>
                <th>Material Density</th>
                <th>Enabled</th>
            </tr>
        </thead>
        <tbody>
            {% for printer in printers %}
                <tr>
                    <td>{{ printer.name }}</td>
                    <td>{{ printer.model }}</td>
                    <td>{{ printer.ip }}</td>
                    <td>{{ printer.api_key }}</td>
                    <td>{{ printer.stream_ip }}</td>
                    <td>{{ printer.materrial_type }}</td>
                    <td>{{ printer.material_color }}</td>
                    <td>{{ printer.material_density }}</td>
                    <td><button id="{{ printer.id }}" type="button" onclick="toggleEnabled({{ printer.id }})" class="btn btn-outline-primary">{{ printer.enabled }}</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
    toggleEnabled = function(printer_id) {
        $.post( "/printers/togglePrinterStatus/" + printer_id, ( data ) => {
            console.log(data)
            if(data.status == "success") {
                document.getElementById(printer_id).innerHTML = data.enabled ? "True" : "False"
            }
            else if(data.status == "failed") {
                alert("Toggling printer status failed!")
            }
        });
    }
    </script>
{% endblock %}