{% extends "layout.html" %}
{% block title %}Create Printer{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

    <div class="form-container">
        <form>
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" value="">
            </div>
            <div class="mb-3">
                <label class="form-label" for="name">Model</label>
                <select name="model" id="model">
                {% for model in models %}
                    <option value="{{ model.id }}">{{ model.name }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="ip">IP</label>
                <input class="form-control" type="text" id="ip">
            </div>
            <div class="mb-3">
                <label class="form-label" for="api_key">API Key</label>
                <input class="form-control" type="text" id="api_key">
            </div>
            <div class="mb-3">
                <label class="form-label" for="stream_ip">Stream IP</label>
                <input class="form-control" type="text" id="stream_ip">
            </div>
            <div class="mb-3">
                <label class="form-label" for="material_type">Material Type</label>
                <input class="form-control" type="text" id="material_type">
            </div>
            <div class="mb-3">
                <label class="form-label" for="material_color">Material Color</label>
                <input class="form-control" type="text" id="material_color">
            </div>
            <div class="mb-3">
                <label class="form-label" for="material_density">Material Density</label>
                <input class="form-control" type="text" id="material_density">
            </div>
            <div class="mb-3">
                <label class="form-check-label" for="enabled">Enabled</label>
                <input class="form-check-input" type="checkbox" id="enabled">
            </div>
            <button type="button" onclick="create()">Submit</button>
        </form>
    </div>
    <script>
        const create = function() {
            let formData = {}
            formData.name = $("#name").val()
            formData.printer_model = $("#model").val()
            formData.ip = $("#ip").val()
            formData.api_key = $("#api_key").val()
            formData.stream_ip = $("#stream_ip").val()
            formData.material_type = $("#material_type").val()
            formData.material_color = $("#material_color").val()
            formData.material_density = $("#material_density").val()
            formData.enabled = $("#enabled").prop('checked')

            if (!formData.name){
                alert("Name is required!")
                return
            }
            if (!formData.ip){
                alert("IP is required!")
                return
            }
            if (!formData.api_key){
                alert("API Key is required!")
                return
            }
            if (!formData.material_density){
                alert("Material Density is required! Use 1.25 for PLA.")
                return
            }

            $.post("/printers/createPrinter", formData, (data) => {
                if (data.status == "success") {
                    window.location.href = "/printers"
                } else if (data.status == "failed") {
                    alert("Creating printer failed!")
                }
            });
        }

    </script>
{% endblock %}