{% extends "layout.html" %}
{% block title %}Edit Message: {{ message.name }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

    <div class="form-container">
        <form>
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" value="{{ message.name }}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="text">Text</label>
                <input class="form-control" type="text" id="text" value="{{ message.text }}">
            </div>
            <button type="button" onclick="submitEdit({{ message.id }})">Submit</button>
        </form>
    </div>
    <script>
        const submitEdit = function(message_id) {
            let formData = {}
            formData.name = $("#name").val()
            formData.text = $("#text").val()

            if (!formData.name){
                alert("Name is required!")
                return
            }
            if (!formData.text){
                alert("Text is required!")
                return
            }

            $.post("/messages/editMessage/" + message_id, formData, (data) => {
                if (data.status == "success") {
                    window.location.href = "/messages"
                } else if (data.status == "failed") {
                    alert("Updating permission code failed!")
                }
            });
        }

    </script>
{% endblock %}